a {
	color:#222;
	display:inline-block;
	text-decoration:none;
}

body {
	margin:0;
	padding:0;
	background-color:#fff;
	font-family:Garamond, Georgia, serif;
	font-size:14px;
  color:#222;
  margin-top:10vh;
}

hr {
  display:none;
}

button {
  background-color:#222;
  color:#fff;
  padding:1rem;
  border:none;
  font-size:14px;
  font-family:Garamond, Georgia, serif;
  letter-spacing:.5px;
  border:1px solid #222;
  width:32%;
}

input[type=email] {
  padding:1rem;
  font-size:14px;
  font-family:Garamond, Georgia, serif;
  box-sizing:border-box;
  width:66%;
}

h1 {
	margin:0 0 2rem 0;
  font-size:24px;
  font-weight:normal;
}

h2 {
	font-size:30px;
	color:#CCC;
	text-transform:uppercase;
}

.item {
  margin-bottom:3rem;
}

p:first-child:first-letter {
  font-weight:bold;
}

p {
  text-align:justify;
  margin-top:0;
}

p a:hover {
	text-decoration:underline;
}

details summary {
  line-height:1em;
  margin-bottom:.5em;
}

details li {
  display:inline-block;
  margin:0 .5rem;
}

.column {
	position:relative;
	width:50%;
  margin:auto;
}

@media only screen and (max-device-width: 600px) {
  .column {
    width:100%;
    padding:0 1rem;
  }
}

.column img {
  width:100%;
  margin-bottom:1rem;
}

figure {
  width:100%;
  margin:0 0 1rem 0;
}

figcaption {
  text-align:center;
}

.centered {
  text-align:center;
}

.header-text {
	position:relative;
}

.margin-bottom {
  margin-bottom:40px;
}

.right {
	text-align:right;
}